$width_fixed_sizes: ("auto": auto, "px":1px, "screen": 100vw, "0": 0, "1": 0.25rem, "2": 0.5rem, "3": 0.75rem,
      "4": 1rem, "5": 1.25rem, "6": 1.5rem, "7": 1.75rem, "8": 2rem, "10": 2.5rem, "12": 3rem, "16": 4rem,
      "20": 5rem, "24": 6rem, "32": 8rem, "40": 10rem, "48": 12rem, "56": 14rem, "64": 16rem, "full": 100% );

$width_fluid_sizes: ("1_2": 50%, "1_3": 33.33333%, "2_3": 66.66667%, "1_4": 25%, "2_4": 50%, "3_4": 75%,
      "1_5": 20%, "2_5": 40%, "3_5": 60%, "4_5": 80%, "1_6": 16.66667%, "2_6": 33.33333%, "3_6": 50%,
      "4_6": 66.66667%, "5_6": 83.33333%, "1_12": 8.33333%, "2_12": 16.66667%, "3_12": 25%, "4_12": 33.33333%,
      "5_12": 41.66667%, "6_12": 50%,"7_12": 58.33333%,"8_12": 66.66667%,"9_12": 75%,"10_12": 83.33333%,"11_12": 91.66667%,);

$height_fixed_sizes: ("auto": auto, "px": 1px, "screen": 100vh, "0": 0, "1": 0.25rem, "2": 0.5rem, "3": 0.75rem,
      "4": 1rem, "5": 1.25rem, "6": 1.5rem, "7": 1.75rem, "8": 2rem, "10": 2.5rem, "12": 3rem, "16": 4rem,
      "20": 5rem, "24": 6rem, "32": 8rem, "40": 10rem, "48": 12rem, "56": 14rem, "64": 16rem);

$width_sizing_sizes: (
  "xs": 20rem,
  "sm": 24rem,
  "md": 28rem,
  "lg": 32rem,
  "xl": 36rem,
  "2xl": 42rem,
  "3xl": 48rem,
  "4xl": 56rem,
  "5xl": 64rem,
  "6xl": 72rem,
  "full": 100%
);

$height_sizing_sizes: (
  "xs": 20rem,
  "sm": 24rem,
  "md": 28rem,
  "lg": 32rem,
  "xl": 36rem,
  "2xl": 42rem,
  "3xl": 48rem,
  "4xl": 56rem,
  "5xl": 64rem,
  "6xl": 72rem,
  "full": 100%,
  "screen": 100vh
);
