<article>
  <h2 class="headline">Welcome to WebScroll</h2>
  <p class="meta">
    Terry <i class="far fa-circle text-xs"></i>
    June 5, 2019 at 5pm
  </p>

  <div class="content">
    <div class="trix-content">
  <div>WebScroll is the simplest writing platform. If you want to just write your articles and publish them, WebScroll is for you.<br><br>To get started you need some knowledge of Ruby On Rails.&nbsp; If you know Rails, deploy it to your server.<br><br>Optionally, you can setup a database like MySQL and configure it in config/database.yml. Or you can use built-in SQLite.&nbsp;<br><br>Then run these commands:<br><br>
</div><pre>rake webscroll:create_blog</pre><div>
<br>Followed by&nbsp;<br><br>
</div><pre>rake webscroll:add_user your@emailaddress.com FirstName LastName "Pen Name" &lt;- use quotes if you need to put a space in your Pen Name.</pre><div>
<br>That's it.&nbsp;<br><br>Browse to your website, click on Sign In and Start Writing.&nbsp;</div>
</div>
  <blockquote>This post will disappear once you have published your first article.</blockquote>

  </div>
</article>
